<div id="upload" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="@upload" class="dropzone" id="uploaddropzone"></form>
        <!--
        <form action="@upload" method="post" enctype="multipart/form-data">

        <input class="form-control" type="file" id="upload-file" multiple="multiple" name="file">
        <div class="mt-3 upload-unhide">
          <label class="form-label" for="upload-file-size">Filesize</label>
          <input class="form-control" type="text" disabled id="upload-file-size" placeholder="0B" />
        </div>
        <div class="mt-3 upload-unhide">
          <label class="form-label" for="upload-file-saveas">Save as</label>
          <input class="form-control" type="text" name="saveas" id="upload-file-saveas" placeholder="filename" />
        </div>
        </form>
        -->

      </div>
      <div class="modal-footer bg-light">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>