<div id="info" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Product: <span id="product">unknown</span></p>
        <p>DiskSpace: Free: <span id="free">0</span> Total: <span id="size">0</span></p>
        <p>Version: <span id="version">0.0.0</span></p>
        <p>Hostname: <span id="hostname"></span></p>
        <p>Uptime: <span id="uptime"></span></p>
        <p>Base: <span id="base"></span></p>

        <p class="about-copyright">
          Based on: file-manager by Ambrose Chua<br >
          <br >
          <b>https://github.com/serverwentdown/file-manager</b><br >
          <br >
          MIT License<br >
          <br >
          Copyright (c) 2018 Ambrose Chua<br >
          <br >
          Permission is hereby granted, free of charge, to any person obtaining a copy<br >
          of this software and associated documentation files (the "Software"), to deal<br >
          in the Software without restriction, including without limitation the rights<br >
          to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br >
          copies of the Software, and to permit persons to whom the Software is<br >
          furnished to do so, subject to the following conditions:<br >
          <br >
          The above copyright notice and this permission notice shall be included in all<br >
          copies or substantial portions of the Software.<br >
          <br >
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br >
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br >
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br >
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br >
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br >
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br >
          SOFTWARE.<br >
          <br >
        </p>
      </div>
      <div class="modal-footer bg-light">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>