<form action="@download" method="post">
	<div id="download" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title">Download file archive</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Your archive will contain the following files: </p>
					<ul class="list-group multi-files">
						
					</ul>
					<div class="mt-3">
						<label class="form-label" for="upload-file-size">Total size</label>
						<input class="form-control multi-files-total" type="text" disabled placeholder="Unknown" />
					</div>
          <div class="mt-3">
						<label class="form-label">Archive Name</label>
            <input class="form-control" id="download-zipname" name="zipname" type="text" value="Archive.zip" />
					</div>
					<input type="hidden" name="files" value="" class="multi-files-value" />
				</div>
				<div class="modal-footer bg-light">
					<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary file-selection-dependent">Download</button>
				</div>
			</div>
		</div>
	</div>
</form>
