<div id="copyfilenames" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Copy filenames</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea id="copy-box" rows="10" style="width: 100%"></textarea>
      </div>
      <div class="modal-footer bg-light">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary file-list-copy" onclick="copyFileNames()">Copy</button>
      </div>
    </div>
  </div>
</div>


<script>

  function copyFileNames() {

    console.log('Copy click');

    if (!navigator.clipboard) {

      Swal.fire({
        icon: 'error',
        title: 'Could not access clipboard',
        text: 'Please copy manually',
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2500,
        timerProgressBar: true
      })

      return
    }

    const copyBox = document.querySelector('#copy-box');

    if(!copyBox.value) {
      Swal.fire({
        icon: 'warning',
        title: 'No filenames found to copy',
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2500,
        timerProgressBar: true
      })
      return
    }

    navigator.clipboard.writeText(copyBox.value).then(function() {

      Swal.fire({
        icon: 'success',
        title: 'Filenames copied to clipboard',
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2500,
        timerProgressBar: true
      })

    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });

  }
</script>