<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-sm">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">File Manager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="navbar-nav me-auto">
				{{#eachpath path}}
					<a class="nav-item nav-link{{#if current}} active{{/if}}" href="{{base}}{{path}}">{{name}}</a>
				{{/eachpath}}
			</div>
			<div class="navbar-nav">
				{{#if isloginenabled}}
				{{#if isloggingin}}
					<a class="nav-item nav-link" href="/@login" title="Sign in" data-bs-placement="left">
						{{octicon "sign-in"}}
					</a>
				{{else}}
					<a class="nav-item nav-link" href="/@logout" title="Sign out" data-bs-placement="left">
						{{octicon "sign-out"}}
					</a>
				{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</nav>
