<nav class="navbar navbar-light bg-light fixed-bottom">
	<div class="container-fluid px-2">
		<div class="d-flex">
			<div class="btn-group me-2" role="group">
				<a class="btn btn-primary" href="@mkdir" data-bs-toggle="modal" data-bs-target="#mkdir" title="Create a new folder" data-bs-placement="top">
					{{octicon "file-directory"}}
					<span class="d-none d-md-inline align-text-bottom">New folder</span>
				</a>
			</div>
      <div class="btn-group me-2" role="group">
        <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#copyfilenames" title="Copy filenames" data-bs-placement="top">
          {{octicon "file-code"}}
          <span class="d-none d-lg-inline align-text-bottom">Copy filenames</span>
        </a>
      </div>
			<div class="btn-group me-2" role="group">
				<a class="btn btn-secondary" href="@download" data-bs-toggle="modal" data-bs-target="#download" title="Download file archive" data-bs-placement="top">
					{{octicon "file-zip"}}
					<span class="d-none d-lg-inline align-text-bottom">Download</span>
				</a>
			</div>
      <div class="btn-group me-2" role="group">
				<a class="btn btn-secondary" href="@rename" data-bs-toggle="modal" data-bs-target="#rename" title="Rename selected files" data-bs-placement="top">
					{{octicon "pencil"}}
					<span class="d-none d-lg-inline align-text-bottom">Rename</span>
				</a>
			</div>
			<div class="btn-group me-2" role="group">
				<a class="btn btn-danger" href="@delete" data-bs-toggle="modal" data-bs-target="#delete" title="Delete selected files" data-bs-placement="top">
					{{octicon "trash"}}
					<span class="d-none d-lg-inline align-text-bottom">Delete</span>
				</a>
			</div>
		</div>
		<div class="d-flex">
      <div class="btn-group me-2" role="group">
        <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#info" title="About" data-bs-placement="top">
          {{octicon "info"}}
          <span class="d-none d-lg-inline align-text-bottom">About</span>
        </a>
      </div>
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-success" href="./" title="Refresh list" data-bs-placement="top">
					{{octicon "sync"}}
					<span class="">Refresh</span>
				</a>
			</div>
		</div>
	</div>
</nav>
