<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>File Manager</title>
	<!-- icons -->
	<link rel="stylesheet" href="{{assetsPath}}octicons/build.css" />
	<!-- bootstrap -->
	<script src="{{assetsPath}}jquery/jquery.min.js" defer></script>
	<link rel="stylesheet" href="{{assetsPath}}bootstrap/css/bootstrap.min.css" />
	<script src="{{assetsPath}}bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<!-- file size math -->
	<script src="{{assetsPath}}filesize/filesize.js" defer></script>
	<!-- common utilities -->
	<script src="{{assetsPath}}common.js" defer></script>
	<!-- navbar, tooltip -->
	<link rel="stylesheet" href="{{assetsPath}}navbar.css" />
	<script src="{{assetsPath}}tooltip.js" defer></script>
	<!-- list, multi-select -->
	<link rel="stylesheet" href="{{assetsPath}}list.css" />
	<script src="{{assetsPath}}multi-select-files.js" defer></script>
	<!-- rename -->
	<script src="{{assetsPath}}rename.js" defer></script>
	<!-- upload -->
	<link rel="stylesheet" href="{{assetsPath}}upload.css" />
	<script src="{{assetsPath}}upload.js" defer></script>
	<!-- login -->
	<link rel="stylesheet" href="{{assetsPath}}login.css" />
	<script src="{{assetsPath}}login.js" defer></script>
  <!-- dropzone -->
  <link rel="stylesheet" href="{{assetsPath}}dropzone/dropzone.css" />
  <script src="{{assetsPath}}dropzone/dropzone-min.js" defer></script>
  <script src="{{assetsPath}}dropzone-init.js" defer></script>
  <!-- new folder focus + upload reload -->
  <script src="{{assetsPath}}modal-bindings.js" defer></script>
  <!-- new folder focus + upload reload -->
  <script src="{{assetsPath}}sweetalert2@11.js" defer></script>

</head>
<body class="bg-light">
	{{{body}}}
</body>
</html>
