<div style="padding-bottom: 56px;">
	<main class="container-md my-4">
		<div class="row justify-content-center">
			<div class="col col-lg-10 col-xl-8 col-xxl-8">
				{{#each errors as |error|}}
					<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
				{{/each}}
				{{#each successes as |success|}}
					<div class="alert alert-success" role="alert">
						{{success}}
					</div>
				{{/each}}
				<ul class="list-group">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {{#eachpath path}}
                <li class="breadcrumb-item {{#if current}} active{{/if}}" aria-current="page">
                {{#if current}}
                  {{name}}
                {{else}}
                  <a href="{{base}}{{path}}/">{{name}}</a>
                  {{/if}}
                </li>
              {{/eachpath}}
            </ol>
          </nav>
          {{> upload}}
          {{#if files}}
          <li class="list-group-item header">
            <label for="check-all" class="stretched-invisible-label">
              <div class="form-check">
                <input type="checkbox" class="form-check-input-controller form-check-input" id="check-all">
                <span class="form-check-label d-flex align-items-start justify-content-between">
                  Select all
                </span>
              </div>
            </label>
          </li>
        {{/if}}
				{{#each files}}
					<li class="list-group-item">
						<label for="check{{@index}}" class="{{#if dotfile}}dotfile {{/if}}stretched-invisible-label">
							<div class="form-check">
								<input type="checkbox" class="form-check-input-controlled form-check-input multi-select{{#if dotfile}} dotfile{{/if}}" data-select="{{name}}" data-select-size="{{size}}" data-select-type="{{#if isdirectory}}directory{{else}}file{{/if}}" id="check{{@index}}">
								<div class="form-check-label d-flex align-items-start justify-content-between">

                  <div class="col-8">
                    <span class="me-1">
                    {{#if isdirectory}}
                      {{octicon "file-directory"}}
                      <a href="./{{name}}/" class="name">{{name}}</a>
                    {{else}}
                      {{octicon "file"}}
                      <a href="./{{name}}" class="name">{{name}}</a>
                      <a href="#" onclick="copy('/{{fullpath}}',this);this.blur()" class="copy-link"  title="Copy path to clipboard" data-bs-placement="right">
                      {{octicon "paste"}}
                      </a>
                    {{/if}}
                    </span>
                  </div>
                  {{#if isdirectory}}
                    {{#isSyncLevelDepth depth}}
                    {{#if syncThisFolder}}
                          <div class="col-2">
                            <a class="btn btn-success btn-sm" href="./{{name}}/@toggleSync" title="Folder will be synced with mobile devices" data-bs-placement="left">
                              {{octicon "broadcast"}}
                              <span class="align-text-bottom">Sync {{level}}</span>
                            </a>
                          </div>
                        {{else}}
                          <div class="col-2">
                            <a class="btn btn-outline-secondary btn-sm" href="./{{name}}/@toggleSync" title="Mark to sync folder with mobile devices" data-bs-placement="left">
                              {{octicon "broadcast"}}
                              <span class="align-text-bottom">Sync {{level}}</span>
                            </a>
                          </div>
                      {{/if}}
                      {{/isSyncLevelDepth}}
                  {{/if}}
                    <div class="col text-end">
                      <span class="badge rounded-pill bg-secondary badge-alignment">{{filesize size}}</span>
                    </div>

<!--
                    {{#if error}}
                      <a href="./{{name}}/" class="name" title="{{error}}">{{name}}/</a>
                      <span class="badge rounded-pill bg-danger badge-alignment">err</span>
                    {{else}}
                      <a href="./{{name}}" class="name">{{name}}</a>
                      <span class="badge rounded-pill bg-secondary badge-alignment">{{filesize size}}</span>
                    {{/if}}
-->

								</div>
								{{#if issmallimage}}
								<img src="./{{name}}" class="ms-4 mt-2" style="max-height: 6em; max-width: 100%;">
								{{/if}}
							</div>
						</label>
					</li>
				{{else}}
					<li class="list-group-item">
						No files
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
  </main>
</div>
{{> toolbar shellable=shellable cmdable=cmdable hasSelection=true}}


{{> dialogue-mkdir}}
{{> dialogue-download}}
{{> dialogue-rename}}
{{> dialogue-delete}}
{{> dialogue-copyfilenames}}
{{> dialogue-info}}
