.name {
  overflow: hidden;
  word-wrap: break-word;
}
.badge-alignment {
  margin-top: 0.25em;
}
.stretched-invisible-label {
  display: block;
}
.stretched-invisible-label > * {
  position: relative;
  z-index: 1;
}
.stretched-invisible-label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.breadcrumb {
  margin-left: 0.5em;
}
.breadcrumb-item {
  margin-right: 0.25em;
}

.dotfile {
  opacity: 0.5;
}

form.dropzone {
  border-color: rgba(0, 0, 0, 0.125);
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-copyright {
  font-size: 10px;
}


.copy-link svg {
  color: gray;
}
.copy-link:hover svg {
  outline: 1px dashed gray;
}

/* fixes wrong order in error message */
.dropzone .dz-error-mark {
  z-index: 15 !important;
}

.dropzone .dz-preview:hover .dz-error-mark {
  opacity: 0.2 !important;
}

/* fixes ugly shadow when clicking on copy link */
.form-check-input:active {
  filter: none !important;
}